/* mobile phone*/

@media all and (max-width: 450px) {
    .banner {
        overflow: hidden;
    }

    .heading {
        margin-left: 0px;
        margin-bottom: 6px;
        font-size: 2em;
        text-align: center;
    }

    .heading:hover {
        font-size: 2.06em;
    }

    .image-woman {
        height: 500px;
        position: relative;
        z-index: 2;
        right: -65px;
    }

    .mission {
        flex-direction: row;
        height: 150px;
        justify-self: center;
        align-items: center;
        margin-top: 200px;
        padding: 10px;
    }
    
    .image-body {
        height: 100%;
        margin-right: 10px;
    }
    
    .header-2 {
        font-family: "Caprasimo", serif;
        font-size: 1.4em;
        margin-bottom: 0;
    }
    
    .write-up-1 {
        font-size: 0.8em;
    }

    .solutions {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 200px;
    }
    
    .solutions-items {
        justify-content: space-between;
        margin-bottom: 100px;
        flex-direction: row;
        height: 150px;
        justify-self: center;
        align-items: center;
        margin-top: 20px;
        padding: 10px;
    }

    
    .sub-header {
        font-weight: 600;
        font-size: 1.4em;
        margin-bottom: 0px;
    }
    
    .write-up-2 {
        font-size: 0.8em;
    }
    
    .learn-more {
        font-size: 19px;
        color: #51945D;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .learn-more-sub {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .learn-more-icon {
        height: 24px;
    }

    .revolution {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        height: fit-content;
    }
    
    .revolution .header-2 {
        font-size: 40px;
        margin-left: 10px;
    }
    
    .revolution .write-up-3 {
        margin-left: 10px;
    }
    
    .store img{
        margin-left: 50px;
        height: 50px;
    }
    
    .screen {
        width:70%;
    }
    
    .floater {
        position: absolute;
        bottom: 1px;
        right: 200px;
        height: 100px;
    }
}

}

/* Other sizes*/
@media all and (max-width: 800px) {  
}

@media all and (max-width: 975px) {
    .nav-bar {
        display: none;
    }

    .nav-bar-mobile {
        display: block;
    }

    .logo-menu {
        display: flex;
        justify-content: space-between;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }
    
    .why-us-sub {
        display: flex;
        flex-direction: column;
        margin: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media all and (max-width: 1100px) {
    .banner {
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .heading {
        margin-left: 0px;
        text-align: center;
    }
}

@media all and (max-width: 1300px) {
    .revolution {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .screen {
        width:70%;
    }
}

