body {
    font-family: 'Poppins'; 
    margin: 0;
    color: #1C3320;
    width: 100%;
}

.nav-bar{
 display: flex;
 flex-direction: row;
 padding-left: 60px;
 padding-right: 60px;
 height: 95px;
 justify-content: space-between;
 align-items: end;
 background-color: #D8F8DE;
}

.logo {
    height: 30px;
}

.nav-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;
    transition: 0.1s;
}
.nav-button:hover {
    border-bottom: 3px solid #1C3320;
    height: 47px;
}

.sign-up {
    font-size: 20px;
    background-color: #1C3320;
    border: none;
    color: #80E995;
    height: 50px;
    width: 150px;
    border-radius: 10px;
}
.sign-up:hover {
     background-color: #25442a;
}

.nav-bar-mobile {
    display: none;
}

.banner {
    display: flex;
    flex-direction: row;
    background-color: #D8F8DE;
    height: fit-content;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.heading {
    color: #1C3320;
    font-size: 5em;
    font-family: "Caprasimo", serif;
    margin-left: 60px;
    position: relative;
    z-index: 2;
    transition: 0.3s;
}
.heading:hover {
    font-size: 5.1em;
}

.image-woman {
    height: 700px;
    position: relative;
    z-index: 2;
}

.vector-1 {
    position: absolute;
    z-index: 1;
    top: -50px;
    height: 250px;
}

.vector-2 {
    position: absolute;
    z-index: 1;
    right: 0;
    height: 300px;
}

.vector-3 {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 100px;
    height: 100px;
}
.med {
    position: absolute;
    z-index: 3;
    right: 45px;
    bottom: 200px;
    height: 170px;
    transition: 0.1s;
}
.med:hover {
    height: 180px;
}
.diag {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 400px;
    height: 170px; 
    transition: 0.1s;
}
.diag:hover {
    height: 180px;
}

.mission {
    display: flex;
    flex-direction: row;
    height: 450px;
    justify-self: center;
    align-items: center;
    margin-top: 200px;
}

.image-body {
    height: 100%;
    margin-right: 40px;
}

.header-2 {
    font-family: "Caprasimo", serif;
    font-size: 50px;
    margin-bottom: 0;
}

.write-up-1 {
    font-size: 25px;
    margin: 10px 0px;
}
.header-3 {
    font-family: "Caprasimo", serif;
    font-size: 50px;
    margin-bottom: 60px;
}
.solutions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.solutions-items {
    display: flex;
    flex-direction: row;
    height: 430px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.sub-header {
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 0px;
}

.write-up-2 {
    font-size: 19px;
}

.learn-more {
    font-size: 19px;
    color: #51945D;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.learn-more-sub {
    margin-top: 0px;
    margin-bottom: 0px;
}

.learn-more-icon {
    height: 24px;
}

.why-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-us-sub {
    display: flex;
    flex-direction: row;
}

.why-us-content {
    background-color: #D8F8DE;
    margin: 15px;
    padding: 25px;
    border-radius: 25px;
    margin-bottom: 150px;
}

.why-us-icon svg {
    color: #80E995;
    background-color: #1C3320;
    padding: 20px;
    height: 40px;
    width: 40px;
    border-radius: 45px;
}

.sub-header-2 {
    font-size: 30px;
    font-weight: bold;
}

.write-up-3 {
    font-size: 24px;

}


.revolution {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 90px;
    margin-right: 90px;
    height: fit-content;
    background-color: #80E995;
    border-radius: 25px;
}

.revolution .header-2 {
    margin-top: 50px;
    font-size: 70px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.revolution .write-up-3 {
    margin-left: 50px;
}

.store{
    display: flex;
    justify-content: space-around;
}

.store img {
    
}

.screen {
    width:50%;
}

.floater {
    position: absolute;
    bottom: 1px;
    right: 200px;
    height: 200px;
}